services:
  kafka:
    image: apache/kafka:4.1.0
    ports:
      - 9092:9092
    post_start:
      - command: /opt/kafka/bin/kafka-topics.sh --create --if-not-exists --topic my-topic --bootstrap-server localhost:9092
  
  postgres:
    image: postgres:latest
    env_file: ".env"
    ports:
      - 5432:5432